body{
    background-color: #606060 !important;
    padding: 0px;
}

.bg-dark{
    background-color: #3c454f!important;
}

.navbar-dark .navbar-nav .nav-link{
    margin: .2rem 0;
     color: #fffefd;
    font-weight: normal;
    /* font-family: andada-bold; */

}





.img100{
  width: 100%; 
  
  max-height: 320px;
 
  min-height: 320px;
  height: auto;
  
}

.containerimg{
  max-height: 320px;
min-height: 320px;
}

.cotainercover{
  max-height: 465px;
  min-height: 465px;
}

.img100cover{
  width: 100%; 
  max-width: 700px;
  max-height: 465px;
  height: auto;
}
/*700*465*/
/**Imagenes**/

.imgPerfil {
  width:80%;
  max-width:640px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-portada {
  position: relative;
	bottom: 0;
	left: 15px;
}

.card {
  margin-top: 10px !important;
}


.cont-21 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

.card-header {
  color: #fff !important;
  background-color: #17a2b8 !important;
}
/** contenedor de botones de inicio y configuracion***/
.cont-1 {
  margin-top: 10px !important;
}

.cont-2 {
  margin-bottom: 10px !important;
}

.btn {
  margin-bottom: 2px !important;
}

.mgb10{
  margin-bottom: 8%;
}


/*** upload image ***/
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
